.controls {
  color: rgb(11, 35, 46);
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.controls input {
  all: unset;
  padding: 1em;
  background-color: rgb(248, 245, 241);
}
.controls button {
  all: unset;
  padding: 1em;
  color: rgb(11, 35, 46);
  background: rgb(206, 216, 221);
  cursor: pointer;
  min-width: 110px;
  text-align: center;
}
.controls button:hover {
  background: rgb(179, 165, 165);
}
.controls .filterSelector {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
