.todoList {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  justify-content: center;
  align-items: stretch;
}
.todo {
  background-color: wheat;
  padding: 1em;
  margin: 0.5em;
  display: flex;
  justify-content: space-between;
}
.todo .isCompleted {
  color: grey;
}
.todo .id {
  color: #aaa;
  font-size: 0.4em;
}
.todo .text {
  color: black;
  font-weight: 600;
  font-size: 1.2em;
}
.todo.completed {
  opacity: 0.7;
}
.todo.completed .text {
  text-decoration: line-through;
}
.todo .actions {
  min-width: 120px;
  display: flex;
  flex-flow: column;
}
.todo .actions button {
  all: unset;
  padding: 0.5em;
  font-size: 0.6em;
  margin: 0.5em;
  font-weight: 600;
  text-transform: uppercase;
  background-color: blanchedalmond;
  cursor: pointer;
  color: black;
}
.todo .actions button:hover {
  background-color: burlywood;
}
